body {
	background-color: #cccccc;
    background-image: linear-gradient(blue, yellow);
}
.jumbotron {
	text-align: center;
	background-color:  #00264d;
	color: white;
}

#clock {
	text-align: center;
	font-size: 36pt;
	font-family: monospace;
}

img {
	display: block;
	border-top:	solid;
	width: 100px;
	height: 100px;
	margin-bottom: 1px;
	float-left;
}




